main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px; }
  main .section__login {
    display: flex;
    width: 100%;
    height: 100%; }
    main .section__login .tela__membro {
      width: 50%;
      min-height: 70vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #5799c5;
      position: relative; }
      main .section__login .tela__membro .tela__membro--img img {
        position: absolute;
        top: 0;
        right: 10px;
        width: 80px;
        padding: 10px; }
    main .section__login .section__login--form {
      width: 50%;
      min-height: 70vh;
      justify-content: center;
      align-items: center;
      background: white; }
      main .section__login .section__login--form .form__box {
        width: 350px;
        margin: 0 auto; }
        main .section__login .section__login--form .form__box form {
          display: flex;
          flex-direction: column;
          position: relative; }
          main .section__login .section__login--form .form__box form .form__titulo h1 {
            color: #5959e6;
            font-weight: 700;
            padding: 30px; }
          main .section__login .section__login--form .form__box form input[type="password"], main .section__login .section__login--form .form__box form input[type="Email"] {
            width: 100%;
            padding: 13px; }
          main .section__login .section__login--form .form__box form input[type="submit"] {
            padding: 10px;
            color: #fff;
            background: orange;
            border: none;
            outline: none;
            font-size: 20px;
            border-radius: 5px; }
          main .section__login .section__login--form .form__box form label {
            font-size: 13px;
            position: relative;
            bottom: -10px;
            left: 5px;
            width: 50px;
            background: white;
            display: flex;
            justify-content: center;
            color: #929292; }
          main .section__login .section__login--form .form__box form p {
            font-weight: 600; }
          main .section__login .section__login--form .form__box form .btn__icon--1 {
            width: 50px;
            border: none;
            outline: none;
            background: #fff;
            position: absolute;
            top: 45%;
            left: 85%; }
          main .section__login .section__login--form .form__box form .btn__icon--2 {
            width: 50px;
            border: none;
            outline: none;
            background: #fff;
            position: absolute;
            top: 59%;
            left: 85%; }

@media (max-width: 889px) {
  main .section__login .tela__membro {
    width: 40%;
    margin-right: 20px; } }
@media (max-width: 819px) {
  main .section__login .tela__membro {
    width: 30%; }
  main .section__login .login__text h2 {
    font-size: 17px;
    text-align: center; }
  main .section__login .login__text p {
    font-size: 12px; } }
@media (max-width: 615px) {
  main .section__login {
    margin: 0 50%; }
    main .section__login .tela__membro {
      display: none; } }

/*# sourceMappingURL=style.css.map */
